<% layout('../layout') -%>

<style>
  #regform {
    max-width: 20em;
  }
</style>

<h1>Book Registration</h1>
<h4>Register a book in the <%- schoolID %> library</h4>

<!-- Success and error messages for password reset email -->
<div id="book-reg-success" class="alert fade in alert-success hide">
  Book Successfully Registered
</div>
<div id="book-reg-failure" class="alert alert-warning hide"></div>
<div id="incomplete-form" class="alert alert-danger hide"></div>

<form class="form-block" id="regform">
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Barcode..." type="text" id="barcode">
    </div>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="ISBN..." type="text" id="isbn">
    </div>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="DDC..." type="text" id="ddc">
    </div>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Donor Email..." type="text" id="donor_email">
    </div>
    <% /* %>
    <div class="form-group">
      <select class="form-control input-lg" id="schoolID">
          <option value="">School ID</option>
          <% schools.forEach((school) => { %>
              <option value="<%= school.schoolID %>"><%= school.schoolID %></option>
          <% }) %>
      </select>
    </div>
   <% */ %>
    <div class="form-group">
        <input id="btn-register" class="btn btn-lg btn-info" type="submit" value="Register book"/></a>
        <input id="btn-clear" class="btn btn-lg btn-danger" type="submit" value="Clear form"/></a>
    </div>
</form>

<script>
$(function() {
  $('#btn-register').click(function(event) {
  	event.preventDefault();
  	var json = {};
  	error = [];

  	$('#incomplete-form').empty();
  	$('#incomplete-form').addClass('hide');
    $('#book-reg-failure').text('')
    $('#book-reg-failure').addClass('hide')

    //collect field values
    $('.form-control').each(function(){
      if($(this).val() == undefined || $(this).val() == ''){
        if($(this).attr('id') == 'donor_email') { //Donor email is not required
          json[$(this).attr('id')] = $(this).val()
        } else {
          error.push($(this).attr('id') + ' is a required field');
        }
      } else {
        json[$(this).attr('id')] = $(this).val();
      }
    });
    json.schoolID = "<%- schoolID %>"

    if(error.length !== 0){
      error.forEach(function (item) {
        $('#incomplete-form').append('<div>' + item + '</div>')
      });
      $('#incomplete-form').removeClass('hide');
      console.log(error);
    } else {
      $.ajax({
        url: '/admin/books',
        type: 'POST',
        dataType: 'json',
        data: json,
        statusCode: {
          404: function() {
            console.log("bad route")
            $('#book-reg-failure').removeClass('hide');
            $('#book-reg-failure').text('Bad Route')
          },
          500: function() {
            console.log("Database error")
            $('#book-reg-failure').removeClass('hide');
            $('#book-reg-failure').text('Database Error')
          },
          401: function() {
            console.log("Unauthorized")
            $('#book-reg-failure').removeClass('hide');
            $('#book-reg-failure').text('You are not autorized')
          },
          269: function() {
            console.log("ISBN not resolved from external sources")
            $('#book-reg-failure').removeClass('hide');
            $('#book-reg-failure').text('ISBN not resolved from external sources')
          },
          409: function() {
            console.log("Duplicate barcode entered")
            $('#book-reg-failure').removeClass('hide');
            $('#book-reg-failure').text('Duplicate barcode entered')
          },
          400:{
            alert("Barcode mismatch.")
          }
          204: function() {
            console.log("Success")
            $('#book-reg-success').removeClass('hide');
            $('.form-control').val('')
          }
        }
      });
    }
  });

  $('#btn-clear').click((e) => {
    e.preventDefault()
    clear()
    $('.form-control').val('')
    $('.alert').addClass('hide')
    $('#book-reg-failure').text('')
  })
})


</script>
