<% layout('../layout') -%>

<style>
  #regform {
    max-width: 20em;
  }
</style>

<h1>Manual Book Registration</h1>
<h4>Register a book in the <%- schoolID %> library</h4>

<!-- Success and error messages for password reset email -->
<div id="book-reg-success" class="alert fade in alert-success hide">
  Book Successfully Registered
</div>
<div id="book-reg-failure" class="alert alert-warning hide"></div>
<div id="incomplete-form" class="alert alert-danger hide"></div>

<form class="form-block" id="regform">
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Barcode..." type="text" id="barcode">
    </div>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="ISBN..." type="text" id="isbn">
    </div>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="DDC..." type="text" id="ddc">
    </div>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Donor Email..." type="text" id="donor_email">
    </div>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Title..." type="text" id="title">
    </div>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Authors... (Separated by commas.)" type="text" id="authors">
    </div>
    <div class="form-group">
        <input class="form-control input-lg" placeholder="Edition..." type="text" id="edition">
    </div>
    <div class="form-group">
        <input id="btn-register" class="btn btn-lg btn-info" type="submit" value="Register book"/></a>
        <input id="btn-clear" class="btn btn-lg btn-danger" type="submit" value="Clear form"/></a>
    </div>
</form>

<a href="/admin/bookRegistrationPage">Regular book registration form</a>

<%- include ../../public/js/admin/bookRegistrationManual.html %>
