<% layout('../layout') -%>

<script src="/bower_components/handlebars/handlebars.min.js"></script>

<form class="clearfix">
    <div class="form-group col-xs-4">
        <label for="barcode">Books4Equality barcode</label>
        <input type="text" id="barcode" class="form-control" placeholder="B4E barcode" value="">
    </div>
    <div class="form-group col-xs-4">
        <label for="isbn">ISBN</label>
        <input type="text" id="isbn" class="form-control" placeholder="ISBN">
        <a id="search" class='btn btn-link'>Search book by ISBN</a>
    </div>
</form>

<div class="clearfix visible-xs-block"></div>

<script id="entry-template" type="text/x-handlebars-template">
    {{#with book}}
    <% include ../partials/book-template %>
    {{/with}}

    <br>

    <form id="form_book" method="post" action="/api/books">
    <!-- XXX form could be sent with ajax for a better UX -->
    <input type="hidden" name="isbn" value="{{isbn}}" required>
    <input type="hidden" name="barcode" value="{{barcode}}">
    <input type="submit" data-loading-text="Saving..." class='btn btn-primary' value="Register this book with barcode {{barcode}}"></input>
    </form>

    <br>
    <br>

    <script>
    $("input[type=submit]").click(function() {
    $(this).button('loading');
    });
</script>
</script>

<div id="results"></div>

<script>
$(function() {
    var source = $("#entry-template").html();
    var template = Handlebars.compile(source);

    $("#search").click(function() {
        var isbn = $("#isbn").val();
        if (!isbn) {
            return false;
        }

        $.getJSON('/search/' + isbn)
            .done(function(book) {
                var barcode = $("#barcode").val();
                var html = template({book: book, isbn: isbn, barcode: barcode});
                $("#results").html(html);
            })
            .fail(function(data, status, xhr) {
                $("#results").html('<p class="text-warning">Book with ISBN ' + isbn + ' not found</p>');
            });
    });
});
</script>
