<% layout('../layout') -%>

<script src="/bower_components/handlebars/handlebars.min.js"></script>

<input type="text" id="isbn" placeholder="ISBN">
<a id="search" class='btn btn-link'>Search ISBN</a>

<br>
<br>

<script id="entry-template" type="text/x-handlebars-template">
    {{#with book}}
    <% include ../partials/book-template %>
    {{/with}}

    <br>

    <form id="form_book" method="post" action="/api/books">
      <!-- XXX form could be sent with ajax for a better UX -->
      <input type="hidden" name="isbn" value="{{isbn}}" required>
      <input type="submit" data-loading-text="Saving..." class='btn btn-primary' value="Register this book"></input>
    </form>
    <script>
      $("input[type=submit]").click(function() {
          $(this).button('loading');
      });
    </script>
</script>

<div id="results"></div>

<script>
$(function() {
    var source = $("#entry-template").html();
    var template = Handlebars.compile(source);

    $("#search").click(function() {
        var isbn = $("#isbn").val();
        if (!isbn) {
            return false;
        }

        $.getJSON('/search/' + isbn)
            .done(function(book) {
                var html = template({book: book, isbn: isbn});
                $("#results").html(html);
            })
            .fail(function(data, status, xhr) {
                $("#results").html('<p class="text-warning">Book with ISBN ' + isbn + ' not found</p>');
            });
    });
});
</script>
