<% layout( '../layout') -%>

<div id="goodbye" class="goobye-message">
	<h1>Wow... umm, okay :( </h1>
	<h2>guess you're logged out now</h2>
	<h3>go do you... out there... bud</h3>
	<div><img src="../images/goobye.png" height="297" width="388" ></div>
</div>