<% layout( '../layout') -%>

<style>
    .login {
      background: none;
      padding: 8px 38px 0px;
    }

    .login-screen {
      min-height: 273px;
      padding: 40px 150px 33px 306px;
    }

    .login-icon {
      top: 40px;
    }

    .login-header{
        color: rgb(52,73,94);
        margin-top: -5px;
        margin-left: 15px;
    }

    a.form-control{
    	display: inline;
    	border: none;
    }

		.form-selector{
			float: right;
		}

</style>

<span id="login-page"> <!-- page specfic id for css classes -->

<div id="login-success" class="alert fade in alert-success hide">
		Login successful!
</div>

<div id="account-creation-success" class="alert fade in alert-success hide">
		Account created!
</div>

<div id="login-failure" class="alert fade in alert-warning hide">
	Failed to login.
</div>

<div id="account-creation-failure" class="alert fade in alert-warning hide">
	Failed to create an account.
</div>

<div id="incomplete-form" class="alert fade in alert-warning hide">
</div>

<div id="bad-login" class="alert fade in alert-warning hide">
	Incorrect username or password
</div>



<div id="main-login">
    <h2 id="login-page-title">Let's getcha logged in</h2>

    <div id="loginbox"  class="login" >

    	   <form id="password-lost-form" class="login-form hide" autocomplete="on">
            <!-- <form id="signin-form" method="post" action="#" enctype="multipart/form-data"> -->
            <h4 class="login-header">We'll send you a reset email</h4>
            <!-- Email (field name must be 'username')-->
            <div class="form-group">
                <input type="text" class="form-control lost-pass-field" id="lost-pass-email" type="text" name="email" value="" placeholder="Email Address" />
                <label class="login-field-icon fui-user" for="login-email"></label>
            </div>

            <div>
                <a class="btn btn-lg btn-link form-selector" data-formselect="user-login-form">Sign Up</a>
                <input id="password-reset" class="btn btn-primary btn-lg " type="submit" value="Confirm Reset"/></a>
            </div>
            <!-- </form> -->
        </form>

        <form id="user-login-form" class="login-form" autocomplete="on">
            <!-- <form id="signin-form" method="post" action="#" enctype="multipart/form-data"> -->
            <h4 class="login-header">Log In</h4>
            <!-- Email (field name must be 'username')-->
            <div class="form-group">
                <input type="text" class="form-control login-field" id="login-username" type="text" name="email" value="" placeholder="Email Address" />
                <label class="login-field-icon fui-user" for="login-email"></label>
            </div>

            <!-- Password -->
            <div class="form-group">
                <input type="password" class="form-control login-field" id="login-password" name="password" placeholder="Password" />
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <div>
                <input id="btn-login" class="btn btn-primary btn-lg " type="submit" value="Log In"/></a>
                <a id="forgot-pass" class="btn btn-lg btn-link" data-formselect="password-lost-form">Forgot Password?</a>
								<a class="btn btn-lg btn-link form-selector" data-formselect="user-signup-form">Sign Up</a>
            </div>
            <!-- </form> -->
        </form>

        <form id="user-signup-form"  class="login-form hide" autocomplete="on">
            <!-- <form id=method="post" action="#" enctype="multipart/form-data"> -->
            <h4 class="login-header">Create an account</h4>
            <!-- firstName -->
            <div class="form-group">
                <input type="text" class="form-control signup-field" id="signup-first-name" name="firstName" placeholder="First name">
                <label class="login-field-icon fui-triangle-right-large" for="signup-email"></label>
            </div>

            <!-- lastName -->
            <div class="form-group">
                <input type="text" class="form-control signup-field" id="signup-last-name" name="lastName" placeholder="Last name">
                <label class="login-field-icon fui-triangle-right-large" for="signup-email"></label>
            </div>

						<!-- School -->
						<div class="form-group">
								<select class="form-control input-lg signup-field" id="signup-school" name="school">
										<option value="">School ID</option>
										<% schools.forEach((school) => { %>
												<option value="<%= school.schoolID %>"><%= school.schoolID %></option>
										<% }) %>
								</select>
						</div>

            <!-- Email -->
            <div class="form-group">
                <input type="text" class="form-control signup-field" id="signup-email" name="email" placeholder="Email Address (UVM email only)">
                <label class="login-field-icon fui-triangle-right-large" for="signup-email"></label>
            </div>

            <!-- Password -->
            <div class="form-group">
                <input type="password" class="form-control signup-field" id="signup-password" name="password" value="" placeholder="Password" />
                <label class="login-field-icon fui-lock" for="signup-pass"></label>
            </div>

            <!-- Password Confirm-->
            <div class="form-group">
                <input type="password" class="form-control signup-field" id="signup-password-confirm" name="password-confirm" value="" placeholder="Password (confirm)" />
                <label class="login-field-icon fui-lock" for="signup-pass"></label>
            </div>

            <div>
                <input id="btn-sign-up" class="btn btn-lg btn-info" type="submit" value="Sign Up"/></a>
								<a class="btn btn-lg btn-link form-selector" data-formselect="user-login-form">Login</a>
            </div>
            <!-- </form> -->
        </form>
    </div>
</div>

<!-- Success and error messages for password reset email -->
<div id="password-reset-sent" class="alert fade in alert-success hide">
	Password reset email sent
</div>

<div id="password-reset-email-dne" class="alert fade in alert-warning hide">
	There is no account with that email
</div>

<div id="password-reset-not-sent" class="alert fade in alert-warning hide">
	Password reset email not sent
</div>


<script>
$(document).ready(function(){

	$('.form-selector').click(function(){
		var form = $(this).data("formselect");
		$(this).closest('.login-form').addClass('hide');
		$('#' + form).removeClass('hide');
	});

	//TODO: allow login on enter press (e.which == 13)
	// $('.input').keypress(function (e) {
	// 	if (e.which == 13 && !event.shiftKey) {
	// 		submitLogin(e);
	//     // alert("key");
	//     return false; 
	//   }
	// });

	$("input.form-control").keyup(function(e) {
		if (e.keyCode == 13) {
				// $("#btn-login").click();
				submitLogin()
		}
	});

	$('#btn-login').click(function(e){
		submitLogin(e);
		return false;
	});

	function submitLogin(event){
		var json = {};
		error = [];

		//Initialize errors to be hidden for multiple attempts
		$('#bad-login').addClass('hide');
		$('#login-failure').addClass('hide');
		$('#incomplete-form').addClass('hide');
		$('#incomplete-form').empty();


		$('.login-field').each(function(){
			if($(this).val() == undefined || $(this).val() == ''){
				error.push('\n' + $(this).attr('name') + ' is a required field');
			} else {
				json[$(this).attr('name')] = $(this).val();
			}
		});

		if(error.length !== 0){
			error.forEach(function (item) {
				$('#incomplete-form').append('<div>' + item + '</div>')
			});
			$('#incomplete-form').removeClass('hide');
			console.log(error);
		} else {
			$.ajax({
				url: '/users/login',
				type: 'POST',
				dataType: 'json',
				data: json,
				statusCode: {
					200: function() {
						console.log("success");
						// redirect after 2 second delay
						$('#login-success').removeClass('hide', function(){
							setTimeout(function() {
								window.location.replace('/users/userHome');
					    }, 2000);
						});
					},
			      	401:function(){ //incorrect username or password
			      		console.log("incorrect login");
						//$('#main-login').hide();
						$('#bad-login').removeClass('hide');
					},
					500:function(){
						console.log("server error");
						$('#main-login').addClass('hide');
						$('#login-failure').removeClass('hide');
					}
				}
			});
		}

	}
	//});


$('#btn-sign-up').click(function(event) {
	event.preventDefault();
	var json = {};
	error = [];

	$('#incomplete-form').empty();
	$('#incomplete-form').addClass('hide');

		//collect field values
		$('.signup-field').each(function(){
			if($(this).val() == undefined || $(this).val() == ''){
				error.push($(this).attr('name') + ' is a required field');
			} else {
				json[$(this).attr('name')] = $(this).val();
			}
		});

		var userJSON = {'email': json['email']};

		//Validation
			$.ajax({  //user exists check
				url: '/users/doesUserExist',
				type: 'GET',
				dataType: 'json',
				data: userJSON,
				async: false,
				statusCode: {
					200: function(data) {
						console.log("Username DNE, continue...");

					},
					500:function(){
						console.log("error");
						error.push('Server error finding usernames');

					},
			    290:function(){  //madeup status code
			    	console.log('username exists');
			    	error.push('Username already exists');
			    	console.log(error);
			    }
			  }
			});

			if(json['password'] != json['password-confirm']){
				error.push('Passwords must match.')
			}

			var $email = json['email'];
			if(typeof $email !== 'undefined'){
				if(!validateEmail($email)){
					error.push('Please use a valid email address');
				}
			} else {
				error.push('Please enter an email.')
			}

			if(error.length !== 0){
				error.forEach(function (item) {
					$('#incomplete-form').append('<div>' + item + '</div>')
				});
				$('#incomplete-form').removeClass('hide');
				console.log(error);
			} else {
				$.ajax({
					url: '/users/register',
					type: 'POST',
					dataType: 'json',
					data: json,
					statusCode: {
						200: function() {
							console.log("success");
							$('#main-login').addClass('hide');
							$('#account-creation-success').removeClass('hide');
						//redirect after delay
						$(this).delay(2000).queue(function(){
							window.location.replace('/users/userHome');
							$(this).dequeue();
						});
					},
					500:function(){
						console.log("error");
						$('#main-login').addClass('hide');
						$('#account-creation-failure').removeClass('hide');
					}
				}
			});

			}
		});

$('#password-reset').click(function(event){
	event.preventDefault();
	var json = {};
	error = [];

	$('#password-reset-sent').addClass('hide');
	$('#password-reset-email-dne').addClass('hide');
	$('#password-reset-not-sent').addClass('hide');	
	$('#incomplete-form').empty();
	$('#incomplete-form').addClass('hide');

	$('.lost-pass-field').each(function(){
		if($(this).val() == undefined || $(this).val() == ''){
			error.push('\n' + $(this).attr('name') + ' is a required field');
		} else {
			json[$(this).attr('name')] = $(this).val();
		}
	});

	if(error.length !== 0){
		error.forEach(function (item) {
			$('#incomplete-form').append('<div>' + item + '</div>')
		});
		$('#incomplete-form').removeClass('hide');
		console.log(error);
	} else {
		$.ajax({
			url: '/users/forgot',
			type: 'POST',
			dataType: 'json',
			data: json,
			statusCode: {
				200: function() {
					console.log("success");
					$('#password-reset-sent').removeClass('hide');
					//redirect after delay
					$(this).delay(5000).queue(function(){
						window.location.replace('/users');
						$(this).dequeue();
					});
				},
				500:function(){
					console.log("error");
					$('#password-reset-not-sent').removeClass('hide');
				},
				400:function(){
					console.log("error");
					$('#password-reset-email-dne').removeClass('hide');
				}
			}
		});
	}
});

function validateEmail($email) {
	var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	return emailReg.test( $email );
}

});
</script>

</span>