<% layout( '../layout') -%>

<style>
.logout {
  background: none;
  padding: 8px 38px 0px;
}

.logout-screen {
  min-height: 273px;
  padding: 40px 150px 33px 306px;
}

.logout-icon {
  top: 40px;
}

#btn-no{
	margin-left: 1em;
}

#are-you-sure{
	margin-bottom: 4em;
}

#buttons{
	margin-bottom: 5em;
}

</style>

<% if(user != undefined) { %>
<div id="sure-message">
    <div id="are-you-sure">
        <h2>Are you sure you want to logout <%- user.username %> ? </h2>
    </div>
    <div id="buttons">
        <a id="btn-yes" class="btn btn-primary btn-lg">Yes<a>
        <a id="btn-no" class="btn btn-primary btn-lg">No<a>
    </div>
</div>
<% } else { %>
	<p>Not Logged In</p>
<%	} %>

<script>
$(function(){
	$('#btn-yes').click(function(){
		$.ajax({
				url: '/users/logout',
				type: 'POST',
				dataType: 'json',
				data: {'logout':true}
			})
			.done(function() {
				console.log("success");
				//$('#sure-message').hide();
				//$('#goodbye').show();
				window.location.replace('goodbye');

			})
			.fail(function() {
				console.log("error");
			});
	});

	$('#btn-no').click(function(){
		history.back();
	});
});
</script>
