<style>
    .entry {
        background-color: #eee;
        border-radius: 8px;
        margin: .5em;
        padding: .5em;
    }
    
    .entry img {
        width: 75%;
        margin-bottom: 5px;
    }

    .unreserve-button,.sign-out-button{
        padding: 5px;
        border-radius: 4px;
    }

    .user-info{
        margin-top: 1em;
        margin-left: 1em;
        background: white;
        padding: 5px;
        border-radius: 4px;
    }

    .lower-book-divs{
        margin-top: 1em;
    }

    .take-off-reserve-div{

    }

    .book-status{
        color:red;
    }


</style>

<!-- XXX use div & css layout-->
<div class="entry">
    <table>
        <tr>
            <td width="150">
                {{#if imageLinks}} {{#if imageLinks.smallThumbnail}}
                <img src="{{imageLinks.smallThumbnail}}" /> {{else}}
                <img src="http://dummyimage.com/128x168/eeeeee/000000.png&text=No+preview" /> {{/if}} {{else}}
                <img src="http://dummyimage.com/128x168/eeeeee/000000.png&text=No+preview" /> {{/if}} &nbsp;&nbsp;
            </td>
            <td>
                <span><strong>{{title}}</strong>, {{publisher}} ({{publishedDate}})</span>
                <br> {{#each authors}}
                <em>{{this}}</em> · {{/each}}
                <br> {{#if _meta.isbn}}
                <span class="text-muted">ISBN:  {{_meta.isbn}}</span> {{/if}}
                {{#if _meta.ddc}}
                · <span class="text-muted">DDC:  {{_meta.ddc}}</span> {{/if}}
                <br>
                {{#if _meta.barcode}}
                · <span class="text-muted">Barcode:  {{_meta.barcode}}</span> {{/if}}
                <br>
                <span>Tags: </span> {{#each categories}}
                <span class="label label-primary">{{this}}</span> {{/each}}
                <span class="label label-primary">lang:{{language}}</span>
            </td>
                            

        </tr>

    </table>

    <!-- Book is signed out -->
    {{#if _meta.signOutInfo}}
        <p class="book-status">Book Status: Signed Out</p>
  
    
    <div class="lower-book-divs">
        <p>User Information:</p>
        <span class="user-info">Email: {{_meta.reservedBy.email}}</span></br>
        <span class="user-info">Reserved Date: {{_meta.reservedBy.reservedDate}}</span></br>
        <span class="user-info">Signout Date: {{_meta.signOutInfo.signOutDate}}</span></br>

    </div>

    <div class="lower-book-divs">
        <a class="sign-in-button btn btn-primary confirm" data-barcode="{{_meta.barcode}}">Sign Back In</a>
    </div>

    {{else}}
    
    <p class="book-status">Book Status: Reserved</p>

    <div class="lower-book-divs">
        <p>User Information:</p>
        <span class="user-info">Email: {{_meta.reservedBy.email}}</span></br>
        <span class="user-info">Reserved Date: {{_meta.reservedBy.reservedDate}}</span></br>
    </div>

    <div class="lower-book-divs">
        <a class="sign-out-button btn btn-primary confirm" data-barcode="{{_meta.barcode}}">Sign Out Book</a>
    </div>
    <div class="lower-book-divs take-off-reserve-div">
        <a class="unreserve-button btn btn-primary confirm" data-barcode="{{_meta.barcode}}">Take off reserve (Use Caution)</a>
    </div>
    
    {{/if}}
</div>
