<!-- XXX use div & css layout-->
<div class="entry">
  <table>
    <tr>
      <td width="150">
        {{#if imageLinks}}
          {{#if imageLinks.smallThumbnail}}
            <img src="{{imageLinks.smallThumbnail}}" />
          {{else}}
            <img src="http://dummyimage.com/128x168/eeeeee/000000.png&text=No+preview" />
          {{/if}}
        {{else}}
        <img src="http://dummyimage.com/128x168/eeeeee/000000.png&text=No+preview" />
        {{/if}}
        &nbsp;&nbsp;
      </td>
      <td>
        <span><strong>{{title}}</strong>, {{publisher}} ({{publishedDate}})</span>
        <br>
        {{#each authors}}
          <em>{{this}}</em> ·
        {{/each}}
        <br>
        <span class="text-muted">Pages: {{pageCount}}</span>
        {{#if _meta.barcode}}
        · <span class="text-muted">Barcode: {{_meta.barcode}}</span>
        {{/if}}
        <br>
        {{#each categories}}
        <span class="label label-primary">{{this}}</span>
        {{/each}}
        <span class="label label-primary">lang:{{language}}</span>
      </td>
    </tr>
  </table>
</div>
