<style>
.navbar {
    border-radius: 0;
}
</style>

<div>
  <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/">Books4Equality</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/mission">Mission</a></li>
        <!-- <li><a href="/organizations">Organizations</a></li> -->
        <li><a href="/library">Library</a></li>
        <li><a href="/contact">Contact</a></li>

        <% if (user) { %>
          <li><a href="/users/logout"><%= user.displayName %> · Log out</a></li>
        <% } else { %>
          <li><a href="/users/login">Log in</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>
