<div>
  <nav class="navbar navbar-inverse navbar-embossed" id="nav-container">
	
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button> 
      <a class="navbar-brand" href="/"> <img src="/images/logo-small.png" alt="" id="logo-link"> Books4Equality</a> <!-- 10/29/15 added image to link -->

    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/mission">Mission</a></li>
        <!-- <li><a href="/organizations">Organizations</a></li> -->
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about_us">About Us</a></li>
        <!-- If logged in, show userHome link -->
        <% if(typeof loggedIn != 'undefined') { %>
          <li><a href="/users/userHome"> User Page </a></li>
        <% } else { %>
          <li><a href="/users">Sign Up / Log In</a></li>
        <% } %>

        <li><a href="/library">Library</a></li>
      </ul>
    </div>
  </nav>
</div>
