<style>
	#user-info{
		float: right;
    	margin-right: 1em;
	}
</style>
<div id="user-info">
	<% if(typeof loggedIn != 'undefined') { %>
		<span>Logged in as: <%- loggedIn %></span>
			<% if(typeof admin != 'undefined'){  %>
			</br><a href="/admin/reserveList">Admin Page</a>
			<% } %>
		</br><a href="/users/logout"> Log out </a>
	<% } %>
	

</div>