<% layout( '../layout') -%>

<script src="/bower_components/handlebars/handlebars.min.js"></script>

<script id="entry-template" type="text/x-handlebars-template">
    {{#each organizations}}
    <% include ../partials/organization-template %>
    {{/each}}
</script>

<div id="results"></div>

<script>
$(function() {
    var source = $("#entry-template").html();
    var template = Handlebars.compile(source);

    var criteria = {};
    $.getJSON('/api/organizations', criteria)
        .done(function(organizations) {
            var html = template({organizations: organizations});
            $("#results").html(html);
        })
        .fail(function(data, status, xhr) {
            alert('something went wrong'); // TODO
        });
});
</script>
