<% layout( '../layout') -%>
    
  <div id="loginbox" class="login" >
        <div class="login-screen">
          <div class="login-icon">
            <img src="/images/logo-small.png" alt="B4E" />
            <h4><small>B4E Community Portal</small></h4>
          </div>
        <div id="login-form" class="login-form">

        <!-- Username -->
            <div class="form-group">
              <input type="text" class="form-control login-field" id="login-username" type="text" name="username" value="" placeholder="Username" />
              <label class="login-field-icon fui-user" for="login-username"></label>
            </div>
        <!-- Username End -->
            
        <!-- Password -->
            <div class="form-group">
              <input type="password" class="form-control login-field" id="login-password" name="password" placeholder="Password" />
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
        <!-- Password End -->
            
                <input id="btn-login" class="btn btn-primary btn-lg " type="submit" value="Log In"/></a>
                <a href="#" onClick="$('#login-form').hide(); $('#signup-form').show()">
                <input id="btn-signup" class="btn  btn-lg btn-info" type="submit" value="Sign up"/></a>
                <a class="login-link" href="#">Lost your password?</a>
          </div>
        

            <div id="signup-form" style="display:none;" class="login-form">
           
                
            <!-- Username -->
                <div class="form-group">
                  <input type="text" class="form-control signup-field" id="signiup-username" type="text" name="username"                       value="" placeholder="Username" />
                  <label class="login-field-icon fui-user" for="signup-username"></label>
                </div>
            <!-- Username End -->

            <!-- Password -->
                <div class="form-group">
                  <input type="password" class="form-control signup-field" id="signup-password" name="password"                               value="" placeholder="Password" />
                  <label class="login-field-icon fui-lock" for="signup-pass"></label>
                </div>
            <!-- Password End -->
                
             <!-- Email -->
                <div class="form-group">
                  <input type="text" class="form-control signup-field" id="signup-email" name="email" placeholder="Email Address">
                  <label class="login-field-icon fui-triangle-right-large" for="signup-email"></label>
                </div> 
            <!-- Email End -->
            
             <!-- Box Location -->
                <div class="form-group">
                  <input type="text" class="form-control signup-field" id="signup-location" name="location" placeholder="Donation Location">
                  <label class="login-field-icon fui-home" for="signup-location"></label>
                </div> 
            <!-- Box End -->
            
            <!-- Logo  -->
                <div class="form-group">
                  <input type="file" class="form-control signup-field" id="signup-logo" name="location" placeholder="Donation Location">
                  <label class="login-field-icon fui-upload" for="signup-logo"></label>
                  
                 
                  
                </div> 
            <!-- Logo End -->
                
            <input id="btn-login" class="btn btn-block btn-lg btn-info" type="submit" value="Sign Up"/></a>

            </div>
        </div>
      </div>               
