<% layout('./layout') -%>

<style>
.headline {
  max-width: 80%;
}
</style>

<a href="/registerOrg">Organization Log in / Sign up</a>

// Here stats of all and be able to join one of them and indicate who have you seen aroud
