<% layout('./layout') -%>

<h1>About Us</h1>


<h5>Founding Members</h5>
<p>
    Alex, Ben, and Javier met during their first weekend as students at the University of Vermont playing pick up soccer and quickly became friends. They became closer in their years in college through hiking, intramurals, traveling, and more. Three very different individuals with different backgrounds form a strong team with experience in business, entrepreneurship, website design, computer science, marketing, and interests that cover even more fields.
</p>


<!-- each ROW must have a "row" class for bootsrap and demo-tiles adds mystery margin/padding. 3 tiles per row, or re-do the bootstrap columns -->
<div class="row demo-tiles">
    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/ben-kaufman.jpg" class="img-circle tile-image" alt="Ben Kaufman">
            <h3 class="tile-title">Ben Kaufman</h3>
            <h4>Chief Executive Officer</h4>
            <div class="bio-links">
                <a class="email" href="mailto:benkaufman@books4equality.com"><span class="glyphicon glyphicon-envelope"></span> <span class="italic">BenKaufman@books4equality.com</span></a><br>
                <a href="https://www.linkedin.com/in/benjaminleokaufman"><span class="fa fa-linkedin-square"> LinkedIn</span></a>
            </div>
            <div class="details-container">
                <input class="summary" id="benk-toggle" type="checkbox" checked>
                <label for="benk-toggle"><div class="summary-label-symbol">⊕</div>About Ben</label>
                <div class="details hide">
                    Ben Kaufman, pursuing a Masters in Natural Resources at UVM, is one of the founders of Books4Equality and is acting CEO of the organization. Ben completed his undergraduate degree in Environmental Studies and Computer Science at the University of Vermont this past spring. Ben hopes that Books4Equality will spread to many other schools in the Northeast and across the United States. Scalability is an integral part of his vision for the future of B4E. In his free time, he is an avid landscape photographer and captains the UVM Men’s Rugby club.
                </div>
            </div> 
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/alex-perkins.jpg" class="img-circle tile-image" alt="Alex Perkins">
            <h3 class="tile-title">Alex Perkins</h3>
            <h4>Co-Founder</h4>
            <div class="bio-links">
                <a class="email" href="mailto:alex@books4equality.com"><span class="glyphicon glyphicon-envelope"></span> <span class="italic">Alex@books4equality.com</span></a><br>
            </div>
            <div class="details-container">
                <input class="summary" id="alexp-toggle" type="checkbox" checked>
                <label for="alexp-toggle"><div class="summary-label-symbol">⊕</div>About Alex</label>
                <div class="details hide">
                    Alex Perkins studied mechanical engineering at the University of Vermont. He co-founded Books4Equality while at school, and continues to be involved in many areas, including strategic development and growth, inventory management, and grant writing. When he is not giving out free textbooks, Alex enjoys brewing beer or hiking. He envisions a bright future for the organization, and is excited to help B4E move forward.
                </div>
            </div> 
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/javier-gb.jpg" class="img-circle tile-image" alt="Javier Garcia-Bernardo">
            <h3 class="tile-title">Javier Garcia-Bernardo</h3>
            <h4>Co-Founder</h4>
            <div class="bio-links">
                <a class="email" href="mailto:javier@books4equality.com"><span class="glyphicon glyphicon-envelope"></span> <span class="italic">Javier@books4equality.com</span></a><br>
                <a href="http://twitter.com/javiergb_com"><span class="fui-twitter"></span> @javiergb_com</a>
            </div>
            <div class="details-container">
                <input class="summary" id="javi-toggle" type="checkbox" checked>
                <label for="javi-toggle"><div class="summary-label-symbol">⊕</div>About Javier</label>
                <div class="details hide">
                    Javier B, a UVM graduate with a M.Sc in Computer Science, was one of the original members of the B4E team. He met this awesome group of people in 2014, and spent many hours coding, filling up forms, reaching out to professors, students, and Burlington businesses. His role at Books4Equality is to collect and analyze data to move the organization further along. Currently a resident of Amsterdam, Javi gives support from the other side of the ocean. Among other plans for B4E, he would like to start an online community around open-source, modular, high-quality textbooks.
                </div>
            </div> 
        </div>
    </div>
</div>


<h5>The Team</h5>
<div class="row demo-tiles">
    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/connor-dermody.jpg" class="img-circle tile-image" alt="Connor Dermody">
            <h3 class="tile-title">Connor Dermody</h3>
            <h4>President</h4>
            <div class="bio-links"></div>
            <div class="details-container">
                <input class="summary" id="connord-toggle" type="checkbox" checked>
                <label for="connord-toggle"><div class="summary-label-symbol">⊕</div>About Connor</label>
                <div class="details hide">
                    Connor Dermody, a Junior studying English Literature at the University of Vermont. He hopes to help his fellow students by informing them about the great opportunities that B4E has to offer. Connor is also a member of the UVM men’s rugby team, and works with fellow officers in the Student Government Association. He aspires to become an English professor after having the experience of teaching abroad through the Peace Corps.
                </div>  
            </div> 
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/zacadia-nevin.jpg" class="img-circle tile-image" alt="Zacadia Nevin">
            <h3 class="tile-title">Zacadia Nevin</h3>
            <h4>Vice President</h4>
            <div class="bio-links">
                <a class="email" href="mailto:zacadianevin@books4equality.com"><span class="glyphicon glyphicon-envelope"></span> <span class="italic">ZacadiaNevin@books4equality.com</span></a><br>
            </div>
            <div class="details-container">
                <input class="summary" id="zacadia-toggle" type="checkbox" checked>
                <label for="zacadia-toggle"><div class="summary-label-symbol">⊕</div>About Zacadia</label>
                <div class="details hide">
                    Zacadia Nevin, a Senior studying Nutrition in the College of Agriculture and Life Sciences, is the Student Life Outreach Coordinator at Books4Equality. She is responsible for presenting the B4E organization to various other clubs and groups on campus to foster partnerships in order to enhance the organization. Zacadia hopes to become an EMT, and eventually make her way to PA school, travel the world, and have a lot of dogs.
                </div>
            </div> 
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/toby-howe.jpg" class="img-circle tile-image" alt="Toby Howe">
            <h3 class="tile-title">Toby Howe</h3>
            <h4>Director of Development</h4>
            <div class="bio-links">
                <a class="email" href="mailto:tobyhowe@books4equality.com"><span class="glyphicon glyphicon-envelope"></span> <span class="italic">TobyHowe@books4equality.com</span></a><br>
                <a href="https://www.linkedin.com/in/toby-howe-06132967"><span class="fa fa-linkedin-square"> LinkedIn</span></a>
            </div>
            <div class="details-container">
                <input class="summary" id="tobyh-toggle" type="checkbox" checked>
                <label for="tobyh-toggle"><div class="summary-label-symbol">⊕</div>About Toby</label>
                <div class="details hide">
                    Toby Howe, a senior working towards a bachelor’s degree in Political Science and Environmental Studies, is the Director of Development at Books4Equality. Toby is responsible for developing strategies to grow and motivate B4E’s donor base, and establishing connections to local businesses in the Burlington community. Prior to Books4Equality, Toby has interned for BigBelly Solar, and worked as a fellow on a Massachusetts state treasurer campaign. Outside of B4E, Toby enjoys skiing and cooking in his free time.
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="row demo-tiles">
    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/ben-vaughan.jpg" class="img-circle tile-image" alt="Ben Vaughan">
            <h3 class="tile-title">Ben Vaughan</h3>
            <h4>Director of Business Development</h4>
            <div class="bio-links">
                <a class="email" href="mailto:benvaughan@books4equality.com"><span class="glyphicon glyphicon-envelope"></span> <span class="italic">BenVaughan@books4equality.com</span></a><br>
                <a href="https://www.linkedin.com/in/ben-vaughan-97760984"><span class="fa fa-linkedin-square"> LinkedIn</span></a>
            </div>
            <div class="details-container">
                <input class="summary" id="benv-toggle" type="checkbox" checked>
                <label for="benv-toggle"><div class="summary-label-symbol">⊕</div>About Ben</label>
                <div class="details hide">
                    Ben Vaughan is the Director of Business Development and Data Analytics at Books4Equality. He works to inform decision makers by analyzing the data surrounding B4E’s inventory, market and user base. He also assists with the strategic development of the organization, developing the business plan, facilitating partnerships, and supporting the grant writing process. In the near future, Ben plans on acquiring his CPA license and working as an auditor, after which he hopes to work in consulting around environmental business practices, alternative energies or forestry.
                </div>
            </div> 
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/willoughby-bourne.jpg" class="img-circle tile-image" alt="Willoughby Bourne">
            <h3 class="tile-title">Willoughby Bourne</h3>
            <h4>Treasurer</h4>
            <div class="bio-links">
                <a href="https://www.linkedin.com/in/willoughby-bourne-a6476a11a"><span class="fa fa-linkedin-square"> LinkedIn</span></a>
            </div>
            <div class="details-container">
                <input class="summary" id="willb-toggle" type="checkbox" checked>
                <label for="willb-toggle"><div class="summary-label-symbol">⊕</div>About Will</label>
                <div class="details hide">
                    A Senior in UVM's College of Agriculture and Life Science, majoring in Community Entrepreneurship with a minor in Food Systems. He is B4E's Treasurer and responsible for overseeing the finances of the club in conjunction with the SGA finance committee (lol). Outside of the classroom he works as a part time supervisor for the local sort at UPS in Williston. When he's able, he likes to get outside, play sports and cook delicious locally sourced meals.
                </div>
            </div> 
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/abigail-goldfarb.jpg" class="img-circle tile-image" alt="Abigail Goldfarb">
            <h3 class="tile-title">Abigail Goldfarb</h3>
            <h4>Vice Treasurer</h4>
            <div class="bio-links">
                <a href="https://www.linkedin.com/in/abigailgoldfarb"><span class="fa fa-linkedin-square"> LinkedIn</span></a>
            </div>
            <div class="details-container">
                <input class="summary" id="abbyg-toggle" type="checkbox" checked>
                <label for="abbyg-toggle"><div class="summary-label-symbol">⊕</div>About Abigail</label>
                <div class="details hide">
                    Abigail Goldfarb, a junior pursuing her BS in business administration at the University of Vermont, is the Vice Treasurer at Books4equality. She is responsible for analyzing books costs and maintaining the flow of textbooks in and out of the B4E library. She previously worked as a financial analysis intern at Analog Devices and as a revenue management intern at Stoweflake Mountain Resort & Spa. In the future, Abigail hopes to work in the ski industry and travel the world.
                </div>
            </div> 
        </div>
    </div>
</div>

<div class="row demo-tiles">
    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/fiona-elliott.jpg" class="img-circle tile-image" alt="Fiona Elliott">
            <h3 class="tile-title">Fiona Elliott</h3>
            <h4>Director of Social Media</h4>
            <div class="bio-links">
                <a href="https://www.linkedin.com/in/fiona-elliott-40b0bb12a"><span class="fa fa-linkedin-square"> LinkedIn</span></a>
            </div>
            <div class="details-container">
                <input class="summary" id="fiona-toggle" type="checkbox" checked>
                <label for="fiona-toggle"><div class="summary-label-symbol">⊕</div>About Fiona</label>
                <div class="details hide">
                    Fiona Elliott, a junior currently pursuing a BA degree in Studio Art and Advertising at the University of Vermont, is the Graphic Design Intern at Books4Equality. She is responsible for the visual representation of B4E and creating designs for our website, posters, stickers and apparel. Fiona’s past experience includes working for the UVM Athletics Marketing and Promotions team. In the future, Fiona hopes to work as a creative director at an advertising firm in a major city. In her free time, Fiona loves to paint and go on long walks with her dog Indi.
                </div>
            </div> 
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/benjamin-quinn.jpg" class="img-circle tile-image" alt="Benjamin Quinn">
            <h3 class="tile-title">Benjamin Quinn</h3>
            <h4>Application Software Developer</h4>
            <div class="bio-links">
                <a href="https://www.linkedin.com/in/benjamin-quinn-54408689"><span class="fa fa-linkedin-square"> LinkedIn</span></a>
            </div>
            <div class="details-container">
                <input class="summary" id="benq-toggle" type="checkbox" checked>
                <label for="benq-toggle"><div class="summary-label-symbol">⊕</div>About Ben</label>
                <div class="details hide">
                    Ben graduated from University of Vermont in 2015 with a degree in Computer Science and Information Systems.He has been developing for B4E since September of 2015. Ben created the B4E barcode scanning app for inventory management and also helps develop and maintain the website. He will be working as a software developer in the NYC area and hopes to continue working with B4E into the future, ensuring free textbooks for all!
                </div>
            </div> 
        </div>
    </div>
</div>


<h5>Interns</h5>
<div class="row demo-tiles">
    <div class="col-xs-12 col-sm-6 col-md-4 bio">
        <div class="tile">
            <img src="/images/about-us/bio/2015-2016/noah-patullo.png" class="img-circle tile-image" alt="Noah Patullo">
            <h3 class="tile-title">Noah Patullo</h3>
            <h4>Web Design Intern</h4>
            <div class='bio-links'>
                <a href="https://www.linkedin.com/in/noahpatullo"><span class="fa fa-linkedin-square"> LinkedIn</span></a>
            </div>
            <div class="details-container">
                <input class="summary" id="noahp-toggle" type="checkbox" checked>
                <label for="noahp-toggle"><div class="summary-label-symbol">⊕</div>About Noah</label>
                <div class="details hide">
                    Noah Patullo, a sophomore Computer Science major at UVM, is our Website Design Intern. He is enthusiastic about his role in helping advance B4E as he is gaining real-world experience and loves any opportunity to learn more about the field of computer science. Through his front-end work of improving the website design, Noah is helping Books4Equality lessen the financial burden of textbooks for college students at the University of Vermont and, eventually, beyond. Noah also has been a member of Burlington Taiko (Japanese Festival Drumming) since 2004 and manages their website <a href="http://burlingtontaiko.org/">BurlingtonTaiko.org</a>
                </div>
            </div> 
        </div>
    </div>
</div>

<script>
    //animate bios to arrear/disappear when clicked
    $(document).ready(function(){
        $('.summary').click(function(){
            var scrollDuration = 380;   //how long scrolling up/down should take
            var scrollHeight = 300;
            if ( $( this ).hasClass( "clicked" ) ) {
                $(this).closest('.tile').animate({  //actually scroll up
                    scrollTop: -scrollHeight     //negative height scrolls up
                }, scrollDuration);

                //now need to pause execution while scrolling BEFORE addig the class "hide"
                //Without a setTimeout(), the class "hide" is added immediately, the bio disappears & no scrolling happens
            
                var thisTile=this;         //save current "this" (a html tile) to avoid problems with setTimeout resetting the value of "this"
                addHideClass = function(tile){     //add the class that makes the tile disappear
                    $(tile).siblings('.details').addClass('hide');
                };
                setTimeout(addHideClass,scrollDuration,thisTile);   //call addHideClass with a "delay" equal to the time to scroll, & pass in current tile (a CORRECT reference to "this")
                $(this).removeClass('clicked');
                
            } else {
                $(this).addClass('clicked');
                $(this).siblings('.details').removeClass('hide');
                $(this).closest('.tile').animate({
                    scrollTop: scrollHeight      //positive height scrolls down
                }, scrollDuration);
            }

        // ⊖
    });
    });
</script>

