<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Who we are</h2>
                <img src="/images/image3015.png" class="img-responsive img-centered" alt="" width="75%" height="75%">
                <br><p>Ben, Alex and Javi noticed the large amount of books sitting idly around their University, gathering dust.
                Starting in Burlington, Vermont. These students are working towards closing the education gap, one book at a time.
                </p> </p>
            </div>
        </div>
    </div>
</section>
