<% layout('./layout') -%>
<style type="text/css">
	#email-link {
		text-decoration: underline
	}
	.title1 {
		margin-top: -30px;
	}	
</style>

<h1 class="title1">Contact</h1>
<p class='lead'>
    Books 4 Equality was created September, 2014 by three students of the University of Vermont.
</p>

<section>
contact form
</section>

<p>Send us an email: <a href="mailto:books4equality@gmail.com" id="email-link">Books4Equality@gmail.com</a> 
</p>
