<% layout('./layout') -%>

<p class='lead'>
    Books 4 Equality was created September, 2014 by three students of the University of Vermont.
    <a href="mailto:books4equality@gmail.com">Send us an email</a>.
</p>

<div class="row demo-tiles">
  <div class="col-xs-3">
    <div class="tile">
      <img src="/images/selfie1.png" class="tile-image">
      <h3 class="tile-title">Ben</h3>
      <p>
      </p>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="tile">
      <img src="/images/selfie2.png" class="tile-image">
      <h3 class="tile-title">Alex</h3>
      <p>
      </p>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="tile">
      <img src="/images/selfie3.png" class="tile-image">
      <h3 class="tile-title">Javi</h3>
      <p>
          <a href="http://twitter.com/jgarciab"><span class="fui-twitter"></span></a>
      </p>
    </div>
  </div>
</div>
