<% layout('./layout') -%>

<link rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css">

<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="/bower_components/handlebars/handlebars.min.js"></script>

<input type="text" id="title">

<label>Categories</label>
<input type="text" id="categories"></input>

<label>Order by</label>
<select id="orderby">
    <option value=""></option>
    <option value="title">Title</option>
    <option value="publishedDate">Published Date</option>
</select>

<a id="search" class='btn btn-primary'>Search</a>

<script id="entry-template" type="text/x-handlebars-template">
    {{#each books}}
    <% include partials/book-template %>
    {{/each}}
</script>

<div id="results"></div>

<!-- XXX use css instead -->
<br>
<br>
<br>

<script>
$(function() {
    var source = $("#entry-template").html();
    var template = Handlebars.compile(source);

    $("#search").click(function() {
        var criteria = {};
        ["title", "categories", "orderby"].forEach(function(field) {
            if ($("#" + field).val()) {
                criteria[field] = $("#" + field).val()
            }
        });

        $.getJSON('/api/books', criteria)
            .done(function(books) {
                var html = template({books: books});
                $("#results").html(html);
            })
            .fail(function(data, status, xhr) {
                alert('something went wrong'); // TODO
            });
    });

    $("#title").autocomplete({
        source: function(request, response) {
            $.getJSON('/api/books', {title: request.term})
                .done(function(books) {
                    var data = [];
                    books.forEach(function(book) {
                        data.push(book.title);
                    })
                    response(data);
                })
                .fail(function(data, status, xhr) {
                    alert('something went wrong'); // TODO
                });
        },
        minLength: 3,
        delay: 300
    });

    $("#search").click();
});
</script>
