<% layout('./layout') -%>

<div class='headline center-block'>
  <img src='/images/logo-big.png' class='img-responsive' alt="Books 4 Equality">
  <p class='lead'>Your Free Textbook Library</p>
</div>

<div class='jumbotron'>
  <p class='lead'>
	Books4Equality aims to provide equal access to textbooks for everyone. For FREE!
  </p>
  <p>We lend you books for the semester at no cost, so you can focus on classes.
  </p>
	<div class='sub-section'>
		<h4>It's Collection Time!</h4>
		<p>As the semester nears its end, we will be collecting books to revamp for spring<p>
		<ol>
			<li>If you borrowed a book, we want it back</li>
			<li>If you have books to donate, we would love to take them off your hands</li>
		</ol>
		<p>We'll be collecting books <span class='bold'>weekdays December 10th-18th 10:00am-2:00pm</span> in the Davis Center. You just bring the books and we’ll take care of the rest.
		</p>
	</div>
	
	<p>We’ll be handing out more free books when classes start in January so keep an eye out for us.</p>
<!--
	<p class='homepage-img'>
		<a href='images/home/table-outside.jpg' title='Click for larger image'><img src='images/home/table-outside.jpg' alt="Book Pile"></a>
		<a href='images/home/big-pile.jpg' title='Click for larger image'><img src='images/home/big-pile.jpg' alt="Book Table"></a>
		<a href='images/home/table-smile.jpg' title='Click for larger image'><img src='images/home/table-smile.jpg' alt="Book Tent"></a>
	</p>
-->	
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> <!-- link galleria script. Doesn't work without jQuery. -->
	<script src="galleria/galleria-1.4.2.min.js"></script>    <!-- these 2 scripts go before the galleria div & actually running goes AFTER -->
	
	<div class="galleria">
		<img src='images/home/table-outside.jpg' alt="Book Pile">
		<img src='images/home/big-pile.jpg' alt="Book Table">
		<img src='images/home/table-smile.jpg' alt="Book Tent">
	</div>
	

	<!-- run galleria -->
	<script>
		Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js'); //important MUST CHANGE PATH
		//Galleria.configure({ transition: 'fade', transitionSpeed: 2000 }); //transision config not really working
		Galleria.run('.galleria', {
			autoplay: 5000,
		}); //Time in milliseconds, so it changes every 5 seconds - Noah
	</script>
	<!-- end run galleria script -->
	
<!--
  <p>During the first week of classes we will be giving away free textbooks on the library steps.
    <a class='btn btn-lg btn-primary'
         title='Check the schedule'
         href='/schedule'>
         Check our Schedule
    </a> to see which day your subjects will be offered.
  </p>
  <p>If you have books that you don't need any more, feel free to bring them and support our cause.</p>
-->
  
  <p><br>Storage costs money, have a few dollars to share?</p>

    <% if (config.paypal.hosted_button_id) { %>
    <div class='col-xs-12'>
      <form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
        <input type='hidden' name='cmd' value='_s-xclick'>
        <input type='hidden' name='hosted_button_id' value='<%= config.paypal.hosted_button_id %>'>
        <input type='image' src='https://www.paypalobjects.com/webstatic/en_US/btn/btn_donate_92x26.png' name='submit' alt='Donate to books4equality'>
      </form>
    </div>
    <% } %>
  

  <p>Books4Equality is a certified Non-profit organization.</p>
  <p class='lead'><strong>Help keep the pages turning!</strong></p>
</div>