<% layout('./layout') -%>

<div class='headline center-block'>
  <img src='/images/logo-big.png' class='img-responsive' alt="Books 4 Equality">
  <p class='lead'>Your Free Textbook Library</p>
</div>

<div class='jumbotron'>
  <p class='lead'>
	Books4Equality aims to provide equal access to textbooks for everyone. For free.
  </p>
  <p>Yes that's right, FREE! We lend you the book for the semester at no cost and you can enjoy classes without the added stress of buying expensive books that you only use once.
  </p>

	<h4>It's Time!</h4>
	<p>As the semester nears its end, we will be collecting books to revamp for the spring<p>
	<ol>
		<li>If you borrowed a book for the fall, we want it back</li>
		<li>If you have books to donate, we would love to take them off your hands. You can really help fellow students</li>
	</ol>
	<p>On weekdays <span class='bold'>December 10th-18th 10:00am-2:00pm</span>, we will be in the Davis Center collecting books. You just bring the books and we’ll take care of the rest.
	</p>
	<p>Keep an eye out for us during the first week of class when in January, when we’ll be handing out more free books.</p>
	<p class='homepage-img'>
		<a href='images/home/table-outside.jpg' title='Click for larger image'><img src='images/home/table-outside.jpg' alt="Book Pile"></a>
		<a href='images/home/big-pile.jpg' title='Click for larger image'><img src='images/home/big-pile.jpg' alt="Book Table"></a>
		<a href='images/home/table-smile.jpg' title='Click for larger image'><img src='images/home/table-smile.jpg' alt="Book Tent"></a>
	</p>
<!--
  <p>During the first week of classes we will be giving away free textbooks on the library steps.
    <a class='btn btn-lg btn-primary'
         title='Check the schedule'
         href='/schedule'>
         Check our Schedule
    </a> to see which day your subjects will be offered.
  </p>
  <p>If you have books that you don't need any more, feel free to bring them and support our cause.</p>
-->
  
  <p><br>Storage costs money, have a few dollars to share?</p>

    <% if (config.paypal.hosted_button_id) { %>
    <div class='col-xs-12'>
      <form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
        <input type='hidden' name='cmd' value='_s-xclick'>
        <input type='hidden' name='hosted_button_id' value='<%= config.paypal.hosted_button_id %>'>
        <input type='image' src='https://www.paypalobjects.com/webstatic/en_US/btn/btn_donate_92x26.png' name='submit' alt='Donate to books4equality'>
      </form>
    </div>
    <% } %>
  

  <p>Books4Equality is a certified Non-profit organization.</p>
  <p class='lead'><strong>Help keep the pages turning!</strong></p>
</div>