<% layout('./layout') -%>

<h1>Books 4 Equality</h1>

<p>Books 4 Equality was created September, 2014 by three students of the University of Vermont.</p>

<p>
We accept any books in fair condition and use them to reduce the education gap around the globe.
Most books that we receive are donated to <a href="http://www.booksforafrica.org/">Books For Africa</a>,
and a number of others are sold to generate funding for shipping them.
</p>

<p><b>To donate books:</b>
<a href="mailto:books4equality@gmail.com?body=For a book donation, please indicate Day, Time and Location and we will take care of everything else. Thank you! Books4Equality">Email us</a> and we will come pick them up from your office whenever you are available. </p>

<p><b>To donate money: </b>Click the donation button --></p>

<p>Keep the pages turning!</p>
