<% layout('./layout') -%>

<style>
.headline {
  max-width: 80%;
}
</style>

<div class='headline center-block'>
  <img src='/images/logo-big.png' class='img-responsive'>
  <p class='lead'>Closing the education gap, one book at a time.</p>
</div>

<div class='jumbotron'>
  <p class='lead'>
  Books for Equality strives to <strong>create lasting solutions to the education gap</strong> across the globe, regardless of race, class, or economic background.
  </p>

  <p class='lead'>
  We work to find new homes for any used books in fair condition. Books that we receive are <strong>donated</strong> to <a href='http://www.booksforafrica.org/'>Books For Africa</a>,
  or given to students within the US to reduce the high cost of Post-secondary Education.
  </p>

  <div class='demo-row row'>
    <div class='col-xs-3'>
      <a class='btn btn-block btn-lg btn-primary'
         title='Email us and we will come pick them up from your office whenever you are available'
         href='mailto:books4equality@gmail.com?body=For a book donation, please indicate Day, Time and Location and we will take care of everything else. Thank you! Books4Equality'>
         Donate books
      </a>
    </div>
     <div class='col-xs-1'>
        or
     </div>
    <% if (config.paypal.hosted_button_id) { %>
    <div class='col-xs-3'>
      <form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
        <input type='hidden' name='cmd' value='_s-xclick'>
        <input type='hidden' name='hosted_button_id' value='<%= config.paypal.hosted_button_id %>'>
        <input type='image' src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif' border='0' name='submit' alt='Donate to books4equality'>
      </form>
    </div>
    <% } %>
  </div>

  <p class='lead'>Keep the pages turning!</p>
</div>
