<% layout('./layout') -%>

<div class='headline center-block'>
    <img src='/images/logo-big.png' class='img-responsive' alt="Books 4 Equality">
    <p class='lead'>Your Free Textbook Library</p>
</div>

<div class='jumbotron'>
    <p class='lead'>
        Books4Equality aims to provide equal access to textbooks for everyone. For FREE!
    </p>
    <p>We lend you books for the semester at no cost, so you can focus on classes.</p>

    <div class='sub-section'>
        <h4 class='cent'>Get Free Textbooks</h4>
        <img class='img-responsive float-right' src="images/instructional/textbooks-clipart.jpg">
        <p>Reserve & pick up a book for the semester</p>
        <p><strong>Where: </strong> Bailey/Howe Library</p>
        <p><strong>When: </strong> 10-2 weekdays, 8/29-9/2</p>
        <p><strong>How?</strong></p>
        <ol class="reserve-info">
            <li><a href=""><a href="/users">Create account/Log in</a></a></li>
            <li>Find & reserve a book in our <a href="/library">Library</a></li>
            <li><span class="bold">Come pick it up at the next available tabling slot</span><br>
                <span class="italic"><a href="mailto:Books4Equality@gmail.com">Email us</a> if you absolutely can't make any of these times</span>
            </li>
        </ol>
        
        <h4>Donations Welcome</h4>
        <p>Got old books you don't need? We'll take em off your hands and loan to other students</p>
        <p>Just bring them to 1 of our tabling slots</p>
    </div>

	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script> <!-- link galleria script. Doesn't work without jQuery. -->
    <script src="galleria/galleria-1.4.2.min.js"></script>    <!-- these 2 scripts go before the galleria div & actually running goes AFTER -->

    <div class="galleria">
        <img src='images/home/gallery_home_01.jpg' alt="">
        <img src='images/home/gallery_home_02.jpg' alt="">
        <img src='images/home/gallery_home_03.jpg' alt="">
        <img src='images/home/gallery_home_04.jpg' alt="">
        <img src='images/home/gallery_home_05.jpg' alt="">
        <img src='images/home/gallery_home_06.jpg' alt="">
        <img src='images/home/gallery_home_07.jpg' alt="">
        <img src='images/home/gallery_home_08.jpg' alt="">
        <img src='images/home/gallery_home_09.jpg' alt="">
        <img src='images/home/gallery_home_10.jpg' alt="">
        <img src='images/home/gallery_home_11.jpg' alt="">
        <img src='images/home/gallery_home_12.jpg' alt="">
        <img src='images/home/gallery_home_13.jpg' alt="">
        <img src='images/home/gallery_home_14.jpg' alt="">
        <img src='images/home/gallery_home_15.jpg' alt="">
        <img src='images/home/gallery_home_16.jpg' alt="">
        <img src='images/home/gallery_home_17.jpg' alt="">
    </div>


    <!-- run galleria -->
    <script>
        Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js'); //important MUST CHANGE PATH
        //Galleria.configure({ transition: 'fade', transitionSpeed: 2000 }); //transision config not really working
        Galleria.run('.galleria', {
            autoplay: 5000,
        }); //Time in milliseconds, so it changes every 5 seconds - Noah
    </script>
    <!-- end run galleria script -->

    <!--
      <p>During the first week of classes we will be giving away free textbooks on the library steps.
        <a class='btn btn-lg btn-primary'
             title='Check the schedule'
             href='/schedule'>
             Check our Schedule
        </a> to see which day your subjects will be offered.
      </p>
      <p>If you have books that you don't need any more, feel free to bring them and support our cause.</p>
    -->

    <p><br>Storage costs money, have a few dollars to share?</p>

    <% if (config.paypal.hosted_button_id) { %>
    <div class='col-xs-12'>
        <form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
            <input type='hidden' name='cmd' value='_s-xclick'>
            <input type='hidden' name='hosted_button_id' value='<%= config.paypal.hosted_button_id %>'>
            <input type='image' src='https://www.paypalobjects.com/webstatic/en_US/btn/btn_donate_92x26.png' name='submit' alt='Donate to books4equality'>
        </form>
    </div>
    <% } %>


    <p>Books4Equality is a certified Non-profit organization.</p>
    <p class='lead'><strong>Help keep the pages turning!</strong></p>
</div>