<% layout('./layout') -%>

<div class='headline center-block'>
    <img src='/images/logo-big.png' class='img-responsive' alt="Books 4 Equality">
    <p class='lead'>Your Free Textbook Library</p>
</div>

<div class='jumbotron'>
    <p class='lead'>
        Books4Equality aims to provide equal access to textbooks for everyone. For FREE!
    </p>
    <p>We lend you books for the semester at no cost, so you can focus on classes.</p>

    <div class='sub-section'>
        <h4 class='cent'>Get Your Free Books</h4>
        <img class='img-responsive float-right' src="images/instructional/textbooks-clipart.jpg">
        <h5>How?</h5>
        <p><strong>Reserve a book & pick it up</strong><br>See Reservation Instructions on the <a href='library'>library page</a></p>
        <h5>When/Where?</h5>
        <p><strong>January 23-27, 10AM-3PM 
        <br>SGA Office Davis Center 3rd Floor</strong></p>
        <h5>During the Semester</h5>
        <p>Email us to pick up a book you reserved: <a href="mailto:Books4Equality@gmail.com">Books4Equality@gmail.com</a></p>
        <p><strong>Any unclaimed reservations will be put back in circulation after February 10th</strong></p>
        <p>If you have donations, we'll take them too</p>
    </div>

<!-- 
    <div class='sub-section'>
        <h4 class='cent'>Got Books?</h4>
        <img class='img-responsive float-right' src="images/instructional/textbooks-clipart.jpg">
        <p>We'll take then off your hands & lend them out next semester</p>
        <h6>When/Where?</h6>
        <p><strong>Weekdays, Davis Center Room 311</strong>
        <br>(<a href="http://www.uvm.edu/sga/?Page=contactus.html&SM=menu_contact.html">Student Government Association Office</a>) 590 Main Street Burlington, VT 05405</p>
    </div>
-->

<!--
      <p>During the first week of classes we will be giving away free textbooks on the library steps.
        <a class='btn btn-lg btn-primary'
             title='Check the schedule'
             href='/schedule'>
             Check our Schedule
        </a> to see which day your subjects will be offered.
      </p>
      <p>If you have books that you don't need any more, feel free to bring them and support our cause.</p>
-->
    
    <!-- <p style="margin:1px;">height:0; &nbsp;</p> -->
    <script src="galleria/galleria-1.4.2.min.js"></script>    <!-- link to galleria-specific script. Jquery already in layout.ejs -->
    
    <div class="galleria">
        <img src='images/home/gallery_home_01.jpg' alt="">
        <img src='images/home/gallery_home_02.jpg' alt="">
        <img src='images/home/gallery_home_03.jpg' alt="">
        <img src='images/home/gallery_home_04.jpg' alt="">
        <img src='images/home/gallery_home_05.jpg' alt="">
        <img src='images/home/gallery_home_06.jpg' alt="">
        <img src='images/home/gallery_home_07.jpg' alt="">
        <img src='images/home/gallery_home_08.jpg' alt="">
        <img src='images/home/gallery_home_09.jpg' alt="">
        <img src='images/home/gallery_home_10.jpg' alt="">
        <img src='images/home/gallery_home_11.jpg' alt="">
        <img src='images/home/gallery_home_12.jpg' alt="">
        <img src='images/home/gallery_home_13.jpg' alt="">
        <img src='images/home/gallery_home_14.jpg' alt="">
        <img src='images/home/gallery_home_15.jpg' alt="">
        <img src='images/home/gallery_home_16.jpg' alt="">
        <img src='images/home/gallery_home_17.jpg' alt="">
    </div>


    <!-- run galleria -->
    <script>
        Galleria.loadTheme('galleria/themes/classic/galleria.classic.min.js'); //important MUST CHANGE PATH
        //Galleria.configure({ transition: 'fade', transitionSpeed: 2000 }); //transision config not really working
        Galleria.run('.galleria', {
            autoplay: 5000,
        }); //Time in milliseconds, so it changes every 5 seconds - Noah
    </script>
    <!-- end run galleria script -->

    <p><br>Storage costs money, have a few dollars to share?</p>

    <% if (config.paypal.hosted_button_id) { %>
    <div class='col-xs-12'>
        <form action='https://www.paypal.com/cgi-bin/webscr' method='post' target='_top'>
            <input type='hidden' name='cmd' value='_s-xclick'>
            <input type='hidden' name='hosted_button_id' value='<%= config.paypal.hosted_button_id %>'>
            <input type='image' src='https://www.paypalobjects.com/webstatic/en_US/btn/btn_donate_92x26.png' name='submit' alt='Donate to books4equality'>
        </form>
    </div>
    <% } %>


    <p>Books4Equality is a certified Non-profit organization.</p>
    <p class='lead'><strong>Help keep the pages turning!</strong></p>
</div>