<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Books For Equality</title>
    <meta name='description' content='Books 4 Equality' />
    <meta name='keywords' content='books,equality,education' />
	<meta name="robots" content="index, follow">

    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/bower_components/flat-ui/dist/css/flat-ui.min.css'>
    <link rel='stylesheet' href='/bower_components/flat-ui/docs/assets/css/demo.css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> <!-- font-awesome style -->

    <!--[if lt IE 9]>
    <script src='/bower_components/html5shiv/dist/html5shiv.min.js'></script>
    <script src='/bower_components/respond/dest/respond.min.js'></script>
    <![endif]-->

	<script src='/bower_components/jquery/dist/jquery.min.js'></script>
	<link rel='stylesheet' href='/stylesheets/style.css'>
	<link rel='stylesheet' href='/stylesheets/custom-new.css'><!-- new stylesheet added by Noah -->
</head>
<body>
    <% include partials/navbar %>

    <div class='container-fluid'>
      <%- body %>
    </div>

    <% include partials/footer %>
</body>

<script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
<script src='/bower_components/flat-ui/dist/js/flat-ui.min.js'></script>

<% include partials/analytics %>
</html>