<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Books 4 Equality</title>
    <meta name="description" content="Books 4 Equality" />

    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>

    <!--[if lt IE 9]>
    <script src='/bower_components/html5shiv/dist/html5shiv.min.js'></script>
    <script src='/bower_components/respond/dest/respond.min.js'></script>
    <![endif]-->

    <link rel='stylesheet' href='/stylesheets/style.css'>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <% include partials/facebook %>

    <div class='container'>
        <%- body %>
    </div>
</body>

<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<% include partials/analytics %>
</html>
