<% layout('./layout') -%>

<link rel="stylesheet" href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css">

<script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="/bower_components/handlebars/handlebars.min.js"></script>

<h1>Library</h1>
<h3>Search for a book in our database:</h3>


<input type="checkbox" class="show-more-state" id="hidden0">
Reservation Instructions <label for="hidden0" class="read-more-trigger0"></label>

<div class="show-more-container0">
    <ol class="reserve-info show-more-target0">
        <li><input type="checkbox" class="show-more-state" id="hidden1">
            Sign Up/Log in <label for="hidden1" class="read-more-trigger"></label><!-- label comes after text & for="__" matches id of hidden input--><br>
            <span class="show-more-container">
                <img src="images/instructional/reserving/1-log-in.jpg" class="img-responsive show-more-target" alt="Log In">
            </span>
        </li>
        <li><input type="checkbox" class="show-more-state" id="hidden2">
            Search for a book <label for="hidden2" class="read-more-trigger"></label><!-- label comes after text & for="__" matches id of hidden input--><br>
            <span class="show-more-container">
                <img src="images/instructional/reserving/2-search.jpg" alt="Search the Library" class="img-responsive show-more-target">
            </span>
        </li>
        <li><input type="checkbox" class="show-more-state" id="hidden3">
            Reserve your book <label for="hidden3" class="read-more-trigger"></label><!-- label comes after text & for="__" matches id of hidden input--><br>
            <span class="show-more-container">
                <img src="images/instructional/reserving/3-reserve.jpg" alt="Reserve a Book" class="img-responsive show-more-target">
            </span>
        </li>
        <li><input type="checkbox" class="show-more-state" id="hidden4">
            Confirm your request <label for="hidden4" class="read-more-trigger"></label><!-- label comes after text & for="__" matches id of hidden input--><br>
            <span class="show-more-container">
                <img src="images/instructional/reserving/4-confirm.jpg" alt="Reserve a Book" class="img-responsive show-more-target">
            </span>
        </li>
        <li><span class="bold">Come pick it up at the next available tabling slot</span><br>
            <span class="italic"><a href="mailto:Books4Equality@gmail.com">Email us</a> if you absolutely can't make any of these times</span>
        </li>
    </ol>
</div><!-- end span around entire instructions list -->

<form>
    <div class="col-md-5">
        <div class="form-group">
            <input class="form-control input-lg" placeholder="Title..." type="text" id="title">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" placeholder="ISBN..." type="text" id="isbn">
        </div>
        <div class="form-group">
            <input class="form-control input-lg" placeholder="Category..." type="text" id="categories">
        </div>
    </div>
    <div class="col-md-5">
        <% if(!schoolID) {  //Only show school picker if not signed in %>
          <div class="form-group">
              <select class="form-control input-lg" id="schoolID">
                  <option value="">School ID</option>
                  <% schools.forEach((school) => { %>
                      <option value="<%= school.schoolID %>"><%= school.schoolID %></option>
                  <% }) %>
              </select>
          </div>
        <% } %>
        <div style="float:right; margin-bottom:1em">
            <a id="advanced_search" class='btn btn-link'>Advanced search</a>
            <a id="search" class='btn btn-lg btn-primary'>Search</a>
        </div>
        <br>
        <div id="advanced_search_options" class="hide">
            <div class="form-group">
                <select class="form-control input-lg" id="orderby">
                    <option value="">Order by</option>
                    <option value="title">Title</option>
                    <option value="publishedDate">Published Date</option>
                </select>
            </div>
        </div>
    </div>
</form>

<div>

</div>

<div style="clear:both">

<p class="text-muted" id="hint-text">Press search with no fields filled to see all books...</p>

<script id="entry-template" type="text/x-handlebars-template">
        {{#each books}}
        <% if(schoolID) { %>
        <%    include partials/book-template %>
        <%  } else { %>
        <%    include partials/book-template-not-signed-in %>
        <%  } %>
        {{/each}}
</script>

<div id="results"></div>


</div>

<script>
    $(function () {
        var source = $("#entry-template").html();
        var template = Handlebars.compile(source);

        $("#search").click(function () {
            var criteria = {};
            ["title", "categories", "isbn", "orderby", "schoolID"].forEach(function (field) {
                if ($("#" + field).val()) {
                    criteria[field] = $("#" + field).val()
                }
            });

            if(!$('#schoolID').val()) {
                criteria.schoolID = '<%- schoolID %>'
            }
            
            console.log(criteria)
            $.getJSON('/api/books', criteria)
                .done(function (books) {
                    if (typeof books !== 'undefined' && books.length > 0) {
                        var html = template({
                            books: books
                        });
                    }else{
                        var html =  '<div class="alert fade in alert-warning">'
                                        +'<a href="#" class="close">'
                                            +'<i class="front-icon-cross"></i>'
                                        +'</a>'
                                        +'No matching books were found.'
                                    +'</div>';
                    }
                    $("#results").html(html);
                    $("#hint-text").hide();
                    $("#filler-space").hide();

                })
                .fail(function (data, status, xhr) {
                    alert('something went wrong'); // TODO
                });
        });

        $("#advanced_search").click(function () {
            $("#advanced_search_options").toggleClass('hide');
        });

        $("#title").autocomplete({
            source: function (request, response) {
                $.getJSON('/api/books', {
                        title: request.term
                    })
                    .done(function (books) {
                        var data = [];
                        books.forEach(function (book) {
                            data.push(book.title);
                        })
                        response(data);
                    })
                    .fail(function (data, status, xhr) {
                        alert('something went wrong'); // TODO
                    });
            },
            minLength: 3,
            delay: 300
        });

        $("input.form-control").keyup(function(e) {
            if (e.keyCode == 13) {
                $("#search").click();
            }
        });
    });
</script>
