<% layout('./layout') -%>

<style type="text/css">
.headline {
  max-width: 80%;
}


/* not sure if we need this */
#wrapper {
  /*padding-left: 150px;*/
  transition: all 0.4s ease 0s;
  float: right;
}

#sidebar-wrapper {
  /*margin-left: -150px;*/
  /*margin-top:-30px; */ /*push it up to meet bottom of main nav */
  /*margin-top:-50px; */
  top:0; /* move up to top of screen, navbar covers it at the top of page */
  /* left: 150px; original */
  /*margin-left:-150px;*/
  /*width: 140px; maybe??*/  /* width: 158px; wide enough to disable scroll bar if "overflow-y: auto;"*/
  width: 150px;
  /*position: relative;*/
  position:fixed;
  height: 100%;
  /*height: 300px;*/
  /*overflow-y: auto; not really necessary*/
  z-index: 1000;
  transition: all 0.4s ease 0s;
  /*background: #edeff1;*/
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  /*width: 150px;*/
  list-style: none;
  margin: 0 0 0 8px;
  padding: 0;
}

@media (max-width:1250px) { /* smaller than 1250, it overlaps the main centered content */
    #wrapper {
      padding-left: 0;
	  display:none; 
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 150px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 150px;
      width: 150px;
      transition: all 0.4s ease 0s;
    }
  
    p{
      margin-left: 1em;
      margin-right: 1em;
    }

    #mission-header{
      margin-left: 1em;
    }

    .col-xs-5{
      display: none;
    }

}

/* add a border on the left when mouse hovers */
#sidebar-wrapper a:hover, #sidebar-wrapper a:active, #sidebar-wrapper a:focus {
	border-left: 4px solid black;
	padding-left:1px;
}

#mission h1 {
	font-size: 1.1em;
}
</style>

<!-- <div class='container-fluid'> -->

<!-- copied from http://stackoverflow.com/questions/20557912/creating-a-fixed-sidebar-alongside-a-centered-bootstrap-3-grid -->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
			<li>&nbsp;</li>	<!-- 3 blank list items to be hidden by navbar -->
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li><a id ="we" href="#mission">Mission</a></li>
			<li><a href="#what-we-do">What We Do</a></li>
			<li><a href="#philosophy">Philosophy</a></li>
			<li><a href="#start">How did it start?</a></li>
			<li><a href="#situation">The Situation</a></li>
			<li><a href="#references">References</a></li>
        </ul>
    </div>
</div>


<!--
<div id="id-links">
	<ul>
		<li><a href="#mission">Mission</a></li>
		<li><a href="#what-we-do">What We Do</a></li>
		<li><a href="#philosophy">Philosophy</a></li>
		<li><a href="#start">How did it start?</a></li>
		<li><a href="#situation">The Situation</a></li>
		<li><a href="#references">References</a></li>
	</ul>
</div>
-->

<div class='jumbotron' id="mission">
<p class="lead"> <h1 id="mission-header">Mission Statement:</h1></p> 
<p>Equal access to textbooks for everyone. For free.</p>
</div>

<div class='jumbotron' id="what-we-do">
<p class="lead"> <strong>What do we do</strong><br></p>
<p>
Books 4 Equality is a free library with an online database for anyone to search, view, and borrow real books from. We solicit donations from all kinds of books in usable condition, then donate those same books to those who borrow them from our website. Catering towards making college more affordable for students, we have a strong presence and continue to grow on college campuses.
</p>
<p>
Some books are older and not frequently used in colleges and universities. In an effort to keep the pages turning, these books will be donated to schools, libraries, and other organizations around the world.
</p>
</div>

<div class='jumbotron' id="philosophy">
<p class="lead"> <strong>Philosophy</strong><br></p>
<p>
  <ul>
  Books4Equality strives to decrease the cost of college education. Our principles are:
  <li>
  <strong>Affordability.</strong> The cost of textbooks have increased by 82% in the last decade. Today, students are spending an average of $1200 in books and supplies per year. With books4equality, your bills will be reduced.
  </li>
  <li>
  <strong>Equality.</strong> 65% of students decide against buying a textbook because of the price. With books4equality, the cost of the classes will not stop you from taking that extra class.
  </li>
  <li>
  <strong>Sustainability.</strong> Reducing the carbon footprint. The CO<sub>2</sub> resulting from the manufacture of all the textbooks used by students each year at UVM is equivalent to the CO<sub>2</sub> produced by a car travelling to the moon and back. 
  </li>
  </ul>
</p>
</div>

<div class='jumbotron' id="start">
<p class="lead"> <strong>How did it start?</strong><br></p>
<p>
One day, while walking through campus, they noticed a large amount of books on a table that someone didn’t want. A conversation ensued about the incredible amount of money we had all paid for textbooks over our time at college, and how the majority were only used for that one class, and then just sat in our closets gathering dust. It was then that an idea was born and now we are looking for students to get behind it.
</p>
</div>

<div class='jumbotron' id="situation">
<p class="lead"> <strong>The Situation</strong><br></p>
<p>
The skyrocketing cost of textbooks has caused students to spend on average of $1200 per year on books alone. This has forced many students to buy or rent used books, or as one study showed, 65% of students had forgone buying the book altogether, despite 94% claiming they were concerned not having the book would negatively affect their grades. Furthermore, it was shown that students were choosing which classes and how many classes they took based on the cost of the textbook. This is creating an educational inequality in American colleges and universities that we believe it is time to change. We don’t like paying too much for school. Books 4 Equality has been collecting hundreds of books from the University of Vermont since August of 2014. Professors and students alike have expressed interest and enthusiasm in helping the idea of the creation of a free textbook library. 
</p>

<p>
There are 4,000 colleges and universities in the US, with 21 million students enrolled in the Fall of 2014. Each year, college students spend an average of $1,200 on textbooks. This is set to a backdrop of over $1 trillion in college student loan debt. Textbook prices can be as high as 39% of tuition and fees at a community college and 14% of tuition and fees at a four-year public institution. Over the past decade, textbook prices have increased by 82%, an increase of three times the rate of inflation. 
</p>
<p>
With these increasing costs, students are being deterred from physically purchasing their required literature due to financial restraints. In a recent nationwide study, 65% of students said that they had decided against buying a textbook because it was too expensive, despite the fact that 94% were concerned that the lack of the textbook will affect grades.
</p>
<p>
Not only is textbook accessibility directly affecting the outcome of their classes, but nearly half of all students surveyed said that the cost of textbooks impacted which classes, as well as how many they took each semester. This is creating a clear education gap in the American collegiate system, where the students who are able to afford all of their books are doing better than those who can not purchase the required material. The students who can not afford these books are forced to incur more debt, work longer hours, or make choices that undermine their academic progress.
</p>
<p>
As publishers continue to drive up the cost of new editions of text, students are turning to other means, such as purchasing used or renting books. As students purchase fewer newer editions, the publishers raise the prices up even more in an effort to regain lost profit, creating a vicious cycle of economic despair. "Students are paying too much for textbooks, plain and simple," said Ethan Senack, a higher education associate at U.S. PIRG, in a call with reporters. "The textbooks market is broken and students are paying the price." Books 4 Equality is the way to fix the system.
</p>
</div>
<div class='jumbotron' id="references">
<p class="lead"> <strong>References</strong><br></p>
<p>
<a href="http://senate.rutgers.edu/PIRGTextbookCostsReport.pdf">Rutgers Report</a><br>
<a href="http://inpirg.org/reports/ripoff-101-2nd-edition">INPIRG Report</a><br>
<a href="http://nces.ed.gov/fastfacts/display.asp?id=372">Institute of Education Sciences Report</a><br>
</p>
</div>

  <p class='lead'><strong>Help keep the pages turning!</strong></p>
  
 <!--</div>-->