<% layout('./layout') -%>

<div class='headline center-block'>
  <img src='/images/logo-big.png' class='img-responsive' alt="Books 4 Equality">
  <p class='lead'>Your Free Textbook Library</p>
</div>

<div class='jumbotron'>
  <%- text %>
</div>
