/*  New css instead of less files */
.title1 { /*first title on page */
	margin-top: -30px;
}

.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}

#contact-form #email-label {
	margin-left: 20px;
}
#contact-form  #message {
    width: 40em;
    height: 10em;
}
